.idea
venv
assignment1/cs231n/datasets/cifar-10-batches-py
assignment3/cs231n/datasets/imagenet_val_25.npz
assignment3/cs231n/datasets/squeezenet.ckpt.data-00000-of-00001
assignment3/cs231n/datasets/squeezenet.ckpt.index
